<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'task_list' %}">List Tasks</a></li>
                <li><a href="{% url 'label_list' %}">List Labels</a></li>
                {% else %}

                {% endif %}
            </ul>
        </nav>
    </header>
    <h1>Task List</h1>
    <table>
        <thead>
            <tr>
                <th> Title </th>
                <th> Description </th>
                <th> Labels </th>
                <th> Completed? </th>
                <th> Update </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <ul>
                        {% for label in task.labels.all %}
                            <li>{{ label.name }}</li>
                        {% endfor %}
                    <ul>
                <td>
                    {% if task.completion_status %}
                        Completed
                    {% else %}
                        Not Completed
                    {% endif %}
                </td>
                <td><a href="{% url 'update_task' task.pk %}"> Update </a></td>
                <td><a href="{% url 'delete_task' task.pk %}"> Delete </a></td>
            </tr>
            {% empty %}
                <li>No tasks found.</li>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_task' %}">Create Task</a>
</body>
</html>
