<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label>Title:</label><br>
        {{ form.title }}<br>
        <label>Description:</label><br>
        {{ form.description }}<br>
        <label>Labels:</label><br>
        {% for label in user_labels %}
            <input type="checkbox" id="label_{{ label.pk }}" name="labels" value="{{ label.pk }}">
            <label for="label_{{ label.pk }}">{{ label.name }}</label><br>
        {% endfor %}
        {% if task.completion_status is not None %}
        <div>
            <label for="id_completion_status">Completed?</label>
            {{ form.completion_status }}
        </div>
        {% endif %}
        <button type="submit">{% if form.instance.pk %}Update Task{% else %}Create Task{% endif %}</button>
    </form>
</body>
</html>
